::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #7278ab;
  /* border-radius: 10px; */
}
::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background:#fff;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 50, 96);
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}